.main {
  padding: 24px;
  width: 100%;
  min-height: 100vh;
}

@media only screen and (min-width: 1599px) {

}

@media only screen and (max-width: 1439px) {

}

@media only screen and (max-width: 1365px) {

}

@media only screen and (max-width: 1279px) {

}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 559px) {

}

@media only screen and (max-width: 479px) {

}