.root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 24px;
}

@media only screen and (min-width: 1599px) {

}

@media only screen and (max-width: 1439px) {

}

@media only screen and (max-width: 1365px) {

}

@media only screen and (max-width: 1279px) {

}

@media only screen and (max-width: 1023px) {
    .root {
        padding: 12px;
    }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 559px) {

}

@media only screen and (max-width: 479px) {

}