.root {
    width: 100%;
    min-height: 100vh;
}

.filter {

}

.mainContent {
    
}

@media only screen and (min-width: 1599px) {

}

@media only screen and (max-width: 1439px) {

}

@media only screen and (max-width: 1365px) {

}

@media only screen and (max-width: 1279px) {

}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
    .root {
        width: 100%;
        min-height: 100vh;
    }
    .filter {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mainContent {
        padding-left: 20px;
        padding-right: 20px;
        // overflow: scroll;
    }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 559px) {

}

@media only screen and (max-width: 479px) {

}